* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hex-color-name {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.button {
    position: absolute;
    right: 50%;
    transform: translateX(+50%);
    height: 40px;
    width: 100px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color:rgba(40, 40, 40);
    color: white;
    border: 2px solid rgba(128, 128, 128, 0.8);
}

.button:hover {
    color: white;
    background-color:rgba(25, 25, 25);
}

.button:focus {
    outline: none;
}